spring:
  application:
    name: meeting-room-booking-2
  mvc:
    servlet:
      path: /api/v1

  datasource:
    url: jdbc:postgresql://localhost:5433/meeting_room_db_2
    username: bianca
    password: secret
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

server:
  port: 8081
